node_modules
.next
out
build
*.log
.env
.env.local
prisma/dev.db
prisma/dev.db-journal
prisma/*.db
prisma/*.db-journal
.DS_Store
next-env.d.ts
public/uploads/*
!public/uploads/.gitkeep
tsconfig.tsbuildinfo
uitest.mjs
shots.mjs
dbg.mjs
verifytest.mjs
narrow.mjs
dbg2.mjs
smtptest.mjs
uxtest.mjs
snap2.mjs
datetest.mjs
datetest2.mjs
admintest.mjs
